.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #301B3F, #dbc5c5);
}

.card {
  width: 380px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: #ffffff;
  border-radius: 16px;
  text-align: center;
}

.avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid #301B3F;
  margin-bottom: 16px;
}

.form {
  margin-top: 10px;
}
.registerLinks {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.link {
  color: #301B3F;
  cursor: pointer;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

.separator {
  color: #999;
}